<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body>

    <table>
        <tr>
            <td>姓名</td>
            <td>
                小王
<!--                <label th:text="${session.name}"></label>-->
            </td>
        </tr>
        <tr>
            <td>性别</td>
            <td>
                男
 <!--                <label th:text="${session.sex}"></label>-->
            </td>
        </tr>
        <tr>
            <td>手机号</td>
            <td>
                123456
<!--                <label th:text="${session.cell}"></label>-->
            </td>
        </tr>
        <tr>
            <td>生日</td>
            <td>
                1999-9-9
<!--                <label th:text="${session.birthday}"></label>-->
            </td>
        </tr>
        <tr>
            <td>身份证号码</td>
            <td>
                12332323
<!--                <label th:text="${session.card}"></label>-->
            </td>
        </tr>
        <tr>
            <td>邮箱号</td>
            <td>
                123@qq.com
<!--                <label th:text="${session.email}"></label>-->
            </td>
        </tr>
    </table>

</body>
</html>